# Core
ultralytics
opencv-python-headless==4.8.1.78
numpy
Pillow

# Geospatial
requests
geopy
overpy

# Database
SQLAlchemy

# Dashboard
streamlit
folium
streamlit-folium

# Utilities
pyyaml
python-dotenv
tqdm
pandas