# Core
ultralytics
opencv-python-headless==4.10.0.84
numpy>=2.0
Pillow

# Geospatial
requests
geopy
overpy

# Database
SQLAlchemy

# Dashboard
streamlit
folium
streamlit-folium

# Utilities
pyyaml
python-dotenv
tqdm
pandas
